[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/google-chrome
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
